<%- include('partials/header-user') %>


<!-- Masthead-->
<br><br><br><br><br><br><br><br>
<header class="masthead">
    <form action="/admin/add" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
          <label for="last_name">Stock</label>
          <input type="number" class="form-control" id="stock" name="stock">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>  <a class="btn btn-danger" href="/admin" role="button">Cancel</a>
      </form>
</header>

<%- include('partials/footer') %>