<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add New Book</h3>

    <form action="/books/add" method="POST">
        <label for="">Title</label>
        <input type="text" name="title" id="" placeholder="--insert title--">
        <label for="">Stock</label>
        <input type="text" name="stock" id="" placeholder="e.g:100">
        <button type="submit">Submit</button>
    </form>
</body>
</html>