<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library App</title>
</head>
<body>
    <%- include ('./partials/navbar') %>


    <h1>Welcome to Library App!</h1>
    <p>Here you can search for any book and you can borrow it.</p>
    <p>We are so delighted to see someone who is eager to read.</p>
    <p>Please, enjoy your stay</p>

    <a href="/books">See Book List</a>
</body>
</html>